<Files src>
    Options +MultiViews
</Files>
#<IfModule mod_rewrite.c>
#</IfModule>
#AddHandler x-httpd-php559 .php
#suPHP_ConfigPath /usr/home/aa221k0x22/html/cgi-bin/
#AuthUserFile d:/xampp/htdocs/MajunIT/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Protected Area"
#AuthType Basic
<Limit GET POST>
#require valid-user
</Limit>
#Header append Access-Control-Allow-Origin: *